<h1>Coupons</h1>

<h3><% @coupons.each do |coupon| %>
    <%= link_to "#{coupon.coupon_code}", coupon_path(coupon) %> <br>
<% end %>  </h3>
<p><%= link_to "Create a New Coupon", new_coupon_path %></p>
